body{
    background: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 56px;
    letter-spacing: -0.4%;
    font-weight: bold;
    color: #75B79E;
}
.content{
    margin-top: 47px;
    height: 326px;
}

.card-line1{
    margin-bottom: 34px;
    display: flex;
}
.card-line2{
    display: flex;
}
.card{
    width: 117px;
    height: 146px;
    position: relative;
}
.card-game{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back{
    transform: rotateY(180deg);
}

.back-onclick{
    transform: rotateY(0deg);
}

.front{
    transform: rotateY(-180deg);
}

.card:not(:last-child){
    margin-right: 34px;
}
.img-front-card{
    width: 100px;
    height: 100px;
}
.timer{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 10px;
}
.play-game{
    background: #75B79E;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 35px;
    border: none;
    border-radius: 4px;
    margin-top: 60px;
    height: 60px;
    width: 150px;
}
.remove-button{
    display: none;
}
@media(max-width:614px){
    body{
        padding-top: 50px;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .card-line1{
        flex-direction: column;
        margin-bottom: 0;
    }
    .card-line2{
        flex-direction: column;
    }
    .card{
        margin-right: 0;
        margin-bottom: 34px;
    }
    h1{
        font-size: 40px;
        display: block;
        text-align: center;
        width: 340px;
    }
    h2{
        display: none;
    }
}